.sectionMidi {
  display: flex;
  flex-direction: column;
}

.player {
  margin-top: var(--m-m);
}

input[type="file"] {
  border: solid 1px var(--ink-80);
  border-radius: var(--curve);
  padding: var(--m-l);
  max-width: 400px;
}
